<div class="page-header">
  <h1>My crushes</h1>
</div>

<div class="row">
  <div class="col-md-12">
      <% if @choices.count != 0 %>
      <table class="table table-striped table-hover">
<!--               <thead>
                <tr>
                  <th>Matched?</th>
                  <th>Rank#</th>
                  <th></th>
                  <th>Name</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead> -->
              <tbody>
                <% @choices.each do |choice| %>
                  <% if choice.user_id == current_user.id %>
                    <tr>
                      <!-- COMMENT OUT UNTIL DISCLOSURE TIME -->
                      <!-- <td width="80">
                          <% if choice.matched == true %>
                            <span class="label label-success">Match!</span>
                          <% else %>
                            <span class="label label-danger">No match</span>
                          <% end %>
                      </td> -->
                      <!-- COMMENTED OUT AS CURRENTLY NOT RELEVANT -->
<!--                       <td width="80">
                        <% if choice.rank > 1%>
                          <form action="/up_rank/<%= choice.id %>" method="post">
                            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                            <button class="btn btn-primary btn-xs">Up <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></button>
                          </form>
                        <% else %>
                          The one!
                        <% end %>
                      </td>
                      <td width="50">
                        #<%= choice.rank %>&nbsp;
                      </td>-->
                      <!-- No avatar in this version -->
                      <!-- <td width="36"><img class="avatar-image" src="<%= User.find(choice.target_id).fb_pic_url%>" height="36" width="36"></td> -->
                      <td><%= User.find(choice.target_id).name %></td>
                      <td>
                        <% if choice.disclose_if_no_match == true %>
                          <span class="label label-info">Notified even if no match</span>
                        <% else %>
                          <span class="label label-default">NOT notified if no match</span>
                        <% end %>
                      </td>
                      <!-- COMMENT AFTER DISCLOSURE -->
                      <td>
                      <!-- Not allowing edits - just delete and add new -->
                      <!-- <a href="/choices/<%= choice.id %>/edit" class="btn btn-default btn-sm">Edit</a> -->
                      <a href="/delete_choice/<%= choice.id %>" class="btn btn-danger btn-xs" rel="nofollow">Delete</a>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <div class="alert alert-info">
              You haven't added any crushes yet. Don't leave it for later!
          </div>
          <% end %>
  </div>
</div>
<!-- COMMENT AFTER DISCLOSURE -->
<% if current_user.choices.count<3 %>
  <a href="/choices/new" class="btn btn-primary btn-block">Add a crush (up to 3)</a>
  </br>
<% else %>
<p>You're all set! Now just wait until the Big Reveal. Good luck matching!</p>
<% end %>
<!-- You can ignore the following. It's a quick and dirty example of how to get a Pinterest-style layout with quick search. -->
<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container');

    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector: '.isotope-item',
        layoutMode: 'masonry',
        filter: function() {
          return qsRegex ? $(this).text().match( qsRegex ) : true;
        }
      })
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->
