<!-- Validation failure messages -->

<% if @choice.errors.any? %>
<% @choice.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<!-- Picture-based selection interface -->
<h2>See who's on KMF and select your 3 crushes!</h2>
<div class="row">
  <!-- Select your 3 crushes -->
  <% @other_users.each do |other_user| %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= other_user.name %></h3>
        </div>
        <div class="panel-body">
          <dl>
            <dd><img src="<%= other_user.fb_pic_url %>"></dd>
          </dl>
          <!-- One form object per potential target. We NEVER pass the current user through the view, for security reasons! -->
          <div class="col-sm-offset-3 col-sm-6">
            <%= simple_form_for @choice, :url => '/create_choice', :method => :post do |f| %>
              <%= hidden_field_tag(:target_id, other_user.id) %>
              <!-- Currently not working: the database never gets a true value -->
              <%= f.check_box :disclose_if_no_match, name: 'disclose_if_no_match' %>
              <%= f.button :submit, 'Choose', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <a href="/choices">Return to index</a>
</div>

