<!-- Validation failure messages -->

<% if @choice.errors.any? %>
<% @choice.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<!-- Picture-based selection interface -->
<h2>See who's on KMF and select your crush #<%= @this_active_choices.count+1 %>!</h2>
<div class="container">
  <div class="row">
    <!-- Select your 3 crushes -->
    <% @eligible_users.each do |eligible_user| %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= eligible_user.name %></h3>
          </div>
          <div class="panel-body">
            <div align="center">
              <img src="<%= eligible_user.photo %>" class="img-responsive">
              </br>
              <!-- One form object per potential target. We NEVER pass the current user through the view, for security reasons! -->
              <%= simple_form_for @choice, :url => '/create_choice', :method => :post do |f| %>
              <%= hidden_field_tag(:target_id, eligible_user.id) %>
              <%= f.check_box :disclose_if_no_match, name: 'disclose_if_no_match'%>
              <%= f.label 'Disclose' %>:
              </br>
              <%= f.button :submit, 'Choose', class: 'btn btn-primary' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
  <a href="/choices">Return to My Crushes</a>
  </div>
</div>
