<% content_for :title, "KMF, Tinder for closed groups" %>
<% content_for :desc, "KMF is the matchmaking app for private parties, trips, balls or just classmates" %>

<!-- Full Width Image Header -->
<header class="header-image">
  <div class="headline">
      <h1>KMF</h1>
      <h2>Matchmaking for closed groups</h2>
  </div>
</header>

<section id="desc">
  <!-- Page Content -->
  <div class="container">
    <hr class="featurette-divider">
    <!-- First Featurette -->
    <div class="featurette" id="about">
      <img class="featurette-image img-circle img-responsive pull-right" src="<%= asset_path( 'beach-couple_sm.jpg' ) %>">
      <h2 class="featurette-heading">Graduation? Sendoff trip?
        <span class="text-muted">Take bonding to a new level</span>
      </h2>
      <p class="lead">In large classrooms or travel groups, crushes usually build up but cannot be confidently revealed without risking public exposure. Enter KMF!</p>
    </div>

    <hr class="featurette-divider">
    <!-- Second Featurette -->
    <div class="featurette" id="services">
      <img class="featurette-image img-circle img-responsive pull-left" src="<%= asset_path( 'heart_sm.jpg' ) %>">
      <h2 class="featurette-heading">Romance kindled
        <span class="text-muted">within your peer group</span>
      </h2>
      <p class="lead">Participants select their crushes among other participants. Corresponded crushes will turn into matches. With total control on privacy, participants only reveal as much as they wish to!</p>
    </div>

    <hr class="featurette-divider">
    <!-- Third Featurette -->
    <div class="featurette" id="contact">
      <img class="featurette-image img-circle img-responsive pull-right" src="<%= asset_path( 'admin_sm.jpg' ) %>">
      <h2 class="featurette-heading">One admin
        <span class="text-muted">to rule them all</span>
      </h2>
      <p class="lead">Participation by invite from you only. 100% private and discreet</p>
    </div>

    <hr class="featurette-divider">
  </div>
</section>
<section id="contact">
  <div class="container">
    <h2 class="section-heading text-center">Interested? Give us a shout!</h2>
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
        <fieldset>
        <%= f.input :first_name, :required => true, :label => 'First' %>
        <%= f.input :last_name, :required => true, :label => 'Last' %>
        <%= f.input :email, :required => true, placeholder: 'user@domain.com' %>
        <%= f.input :entity_name, :required => false, :label => 'Group or organization', placeholder: 'E.g. \'my school\'. We just like knowing who\'s interested in us!' %>
        <!-- <%= f.input :entity_site,:as => :url, placeholder: 'E.g. myschool.com', :label => 'URL', :hint => 'Website for the group or organization you are inquiring on behalf of (optional)' %> -->
        <%= f.input :message, :as => :text, :required => true, :label => 'Message', placeholder: 'Type your message or inquiry here. We\'ll get back to you in no time!' %>
        <!-- Hidden so that no one can fill it out but computers will fill it out. This will determine whether the message is coming from a computer or not -->
        <div class= "hidden">
          <%= f.input :nickname, :hint => 'Leave this field blank!' %>
        </div>
        <div>
          &nbsp
          <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
        </div>
        </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</section>
