<!-- Full Width Image Header -->
<header class="header-image">
  <div class="headline">
      <h1>One Page Wonder</h1>
      <h2>Will Knock Your Socks Off</h2>
  </div>
</header>

<section id="desc">
  <!-- Page Content -->
  <div class="container">
    <hr class="featurette-divider">
    <!-- First Featurette -->
    <div class="featurette" id="about">
      <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
      <h2 class="featurette-heading">Sendoff party? Class trip?
        <span class="text-muted">Take the bonding to a new level</span>
      </h2>
      <p class="lead">KMF is the closed-group matchmaking app: group members select their crushes, and upon a Big Reveal they learn which of those are matches</p>
    </div>

    <hr class="featurette-divider">
    <!-- Second Featurette -->
    <div class="featurette" id="services">
      <img class="featurette-image img-circle img-responsive pull-left" src="http://placehold.it/500x500">
      <h2 class="featurette-heading">Facilitate long-sought matches
        <span class="text-muted">within your peer group.</span>
      </h2>
      <p class="lead">Only group members can participate. Totally private and discreet - to the extent they want!</p>
    </div>

    <hr class="featurette-divider">
    <!-- Third Featurette -->
    <div class="featurette" id="contact">
      <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
      <h2 class="featurette-heading">One admin
        <span class="text-muted">to rule them all.</span>
      </h2>
      <p class="lead">As a group administrator, you control who can join the group,and can remove quitters in no time.</p>
    </div>

    <hr class="featurette-divider">
  </div>
</section>
<section id="contact">
  <div class="container">
    <h2 class="section-heading text-center">Interested? Give us a shout!</h2>
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
        <%= f.input :first_name, :required => true, :label => 'First'%>
        <%= f.input :last_name, :required => true, :label => 'Last' %>
        <%= f.input :email, :required => true, placeholder: 'user@domain.com' %>
        <%= f.input :entity_name, :label => 'Group or organization', placeholder: 'E.g. \'my school\'', :hint => 'We just like knowing who\'s interested in us!' %>
        <!-- <%= f.input :entity_site,:as => :url, placeholder: 'E.g. myschool.com', :label => 'URL', :hint => 'Website for the group or organization you are inquiring on behalf of (optional)' %> -->
        <%= f.input :message, :as => :text, :required => true, :label => 'Message', placeholder: 'Type your message or inquiry here. We\'ll get back to you in no time!' %>
        <!-- Hidden so that no one can fill it out but computers will fill it out. This will determine whether the message is coming from a computer or not -->
        <div class= "hidden">
          <%= f.input :nickname, :hint => 'Leave this field blank!' %>
        </div>
        <div>
          &nbsp
          <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section id=footer>
  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Nabi 2015</p>
      </div>
    </div>
  </footer>
</section>
