<!-- Validation failure messages -->

<% if @match.errors.any? %>
  <% @match.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Match #<%= @match.id %></h3>
      </div>
      <div class="panel-body">

        <form action="/update_match/<%= @match.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">



          <!-- Label and input for user1_id -->
          <div class="form-group">

            <label for="user1_id" class="col-sm-2 control-label">
              User1
            </label>
            <div class="col-sm-10">

              <input type="text" id="user1_id" name="user1_id" placeholder="User1" class="form-control" value="<%= @match.user1_id %>">

            </div>

          </div>


          <!-- Label and input for user2_id -->
          <div class="form-group">

            <label for="user2_id" class="col-sm-2 control-label">
              User2
            </label>
            <div class="col-sm-10">

              <input type="text" id="user2_id" name="user2_id" placeholder="User2" class="form-control" value="<%= @match.user2_id %>">

            </div>

          </div>


          <!-- Label and input for user1_active -->
          <div class="form-group">

            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="user1_active">
                  <input type="checkbox" id="user1_active" name="user1_active" value="1" <%= "checked" if @match.user1_active %>>
                  User1 active
                </label>
              </div>
            </div>

          </div>


          <!-- Label and input for user2_active -->
          <div class="form-group">

            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="user2_active">
                  <input type="checkbox" id="user2_active" name="user2_active" value="1" <%= "checked" if @match.user2_active %>>
                  User2 active
                </label>
              </div>
            </div>

          </div>


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Match
              </button>
              or

              <a href="/matches/<%= @match.id %>">Cancel</a>

            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
