<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Match #<%= @match.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">

              <dt>User1</dt>
              <dd><%= @match.user1_id %></dd>


              <dt>User2</dt>
              <dd><%= @match.user2_id %></dd>


              <dt>User1 active</dt>
              <dd><%= @match.user1_active %></dd>


              <dt>User2 active</dt>
              <dd><%= @match.user2_active %></dd>


            </dl>
            <div class="btn-group btn-group-justified">

              <a href="/matches" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/matches/<%= @match.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_match/<%= @match.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
